body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: pirate;
    src: url(TradeWinds-Regular.ttf);
}

.avatar {
    width: 150px;
}

.card {
    font-family: pirate;
    background-image: url("images/BCGRND.png");
    background-size: cover;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #21233D;
    border-bottom: 6px solid #3c5ca5;
    border-radius: 10px;
    text-shadow: 2px 2px 5px #21233D;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

p {
    font-weight: 400;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

